@()
<div data-bind="visible: vm.page() == 'students'">
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>Students</b> dashboard</h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addStudentModal" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i> <span>
                            Add New Student</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th width="10%"><b>#</b></th>
                        <th width="20%"><b>First Name</b></th>
                        <th width="20%"><b>Last Name</b></th>
                        <th width="20%"><b>Birthday</b></th>
                        <th width="20%"><b>Telegram ID</b></th>
                        <th width="10%"><b>Actions</b></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: vm.getStudents">
                    <tr>
                        <td data-bind="text: $index() + 1"></td>
                        <td data-bind="text: $data.first_name"></td>
                        <td data-bind="text: $data.last_name"></td>
                        <td data-bind="text: $root.vm.convertIntToDateTime($data.birthDay)"></td>
                        <td data-bind="text: $data.telegram_id"></td>
                        <td>
                            <a href="" data-target="#editStudents" data-bind="click: $root.vm.openEditFormStudents($data)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="" data-target="#deletedStudents" data-bind="click: $root.vm.askDelete($data.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
        <!-- Add Modal HTML -->
    <div id="addStudentModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Add Student</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" data-bind="value: vm.students.firstName" >
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" data-bind="value: vm.students.lastName" >
                        </div>
                        <div class="form-group">
                            <label>Birthday</label>
                            <input type="date" class="form-control" data-bind="value: vm.students.birthday" >
                        </div>
                        <div class="form-group">
                            <label>Telegram ID</label>
                            <input type="text" class="form-control" data-bind="value: vm.students.telegramId" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button type="submit" class="btn btn-success" data-bind="click: vm.onSubmit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- Edit Modal HTML -->
    <div id="editStudents" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Student</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" data-bind="value: vm.selected.firstName">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" data-bind="value: vm.selected.lastName">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="date" class="form-control" data-bind="value: vm.selected.birthday">
                        </div>
                        <div class="form-group">
                            <label>Telegram ID</label>
                            <input type="number" class="form-control" data-bind="value: vm.selected.telegramId">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button type="submit" class="btn btn-info" data-bind="click: vm.updateStudents">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- Delete Modal HTML -->
    <div id="deletedStudents" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Student</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these Records?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" data-bind="click: vm.deleteStudents">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>